#!/bin/bash

source /path/to/foodorder-slack/virtualenv/bin/activate

export SLACKBOT_API_TOKEN='<slackbot-api-token>'
export SLACKBOT_ERRORS_TO='<slack-username-to-send-stacktraces-to>'
export ANNOUNCE_CHANNEL_NAME='<channel-name-to-annouce>'

cd /path/to/foodorder-slack/git/repo/
python run.py

